@font-face {
    font-family: Silkscreen;
    src: url(slkscr.ttf) format('truetype');
}

body {
    margin: 0px;

    font-family: 'Silkscreen';
    font-size: 16px;

    background: rgb(228, 219, 219);
    background: radial-gradient(circle, rgba(228, 219, 219, 1) 0%, rgba(245, 241, 241, 1) 100%);
}

/* SCORE */

#scoreboard {
    text-align: center;
    font-size: 30px;
}

/* BUTTONS */

.gameBody {
    max-width: 1200px;
    min-height: 800px;
    margin: 0px auto;
}

.buttons {
    /* flexbox */
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.butt {
    margin: 20px 28px 0px 0px;
    padding: 0px 10px;
    min-width: 100px;
    height: 40px;

    font-size: 16px;
    font-weight: 500;
    font-family: 'Silkscreen';
    border-radius: 8px;
    background-color: rgb(245, 241, 241);
    color: rgb(65, 63, 63);
    border: 1px solid rgb(65, 63, 63);
}

.butt:hover {
    background-color: rgb(65, 63, 63);
    color: rgb(245, 241, 241);
    border: 1px solid rgb(245, 241, 241);
}

/* TEXT */

#gamesPlayed {
    margin-top: 24px;
    margin-bottom: 110px;

    text-align: center;
}

#winLossMssg {
    margin-bottom: 110px;

    text-align: center;
    font-size: 48px;
    visibility: hidden;
}