@font-face {
    font-family: Silkscreen;
    src: url(slkscr.ttf) format('truetype');
}

body {
    margin: 0px;

    font-family: 'Silkscreen';
    font-size: 16px;
    color: #999898;

    background: #363635;
}

.center {
    /* flexbox */
    display: flex;
    justify-content: center;
}

/* SCORE */

#scoreboard {
    text-align: center;
    font-size: 30px;
}

/* BUTTONS */

.gameBody {
    max-width: 1200px;
    min-height: 800px;
    margin: 0px auto;
}

.buttons {
    /* flexbox */
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.butt {
    margin: 20px 28px 0px 0px;
    padding: 0px 10px;
    min-width: 100px;
    height: 40px;

    font-size: 16px;
    font-weight: 500;
    font-family: 'Silkscreen';
    border-radius: 8px;
    background-color: #363635;
    color: #fff;
    border: 1px solid #4b4b4a;
}

.butt:hover {
    background-color: #4b4b4a;
}

/* TEXT */

#gamesPlayed {
    max-width: 280px;
    margin-top: 24px;
    margin-bottom: 110px;
    padding: 12px 20px;

    border-radius: 8px;
    background-color: #3d3d3c;
    text-align: center;
}

#winLossMssg {
    margin-bottom: 110px;

    color: #fff;
    text-align: center;
    font-size: 48px;
}