@font-face {
    font-family: Silkscreen;
    src: url(slkscr.ttf) format('truetype');
}

body {
    margin: 0px;

    font-family: 'Silkscreen';
    font-size: 16px;
    color: #f177a8;

    background: #241965;
}

@keyframes pulsateAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.pulsate {
    animation: pulsateAnimation 2s ease 0s infinite normal forwards;
}

.center {
    /* flexbox */
    display: flex;
    justify-content: center;
}

/* SCORE */

#scoreboard {
    text-align: center;
    font-size: 30px;
}

/* BUTTONS */

.gameBody {
    max-width: 1200px;
    min-height: 800px;
    margin: 0px auto;
}

.buttons {
    /* flexbox */
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.butt {
    margin: 20px 28px 0px 0px;
    padding: 0px 10px;
    min-width: 100px;
    height: 40px;

    font-size: 16px;
    font-weight: 500;
    font-family: 'Silkscreen';
    border-radius: 8px;
    background-color: #241965;
    color: #ffac30;
    border: 1px solid #9f4094;
}

.butt:hover {
    background-color: #9f4094;
}

/* TEXT */

#gamesPlayed {
    max-width: 280px;
    margin-top: 24px;
    margin-bottom: 110px;
    padding: 12px 20px;

    border-radius: 8px;
    background-color: #653993;
    text-align: center;
}

#winLossMssg {
    margin-bottom: 14px;

    color: #ffac30;
    text-align: center;
    font-size: 48px;
}

#playAgainMssg {
    text-align: center;
    margin-bottom: 100px;
}